# Root-level ignores
node_modules/
package-lock.json
.env
.env.*  # All env variations
dist/
build/

# Frontend ignores
/frontend/node_modules/
/frontend/dist/
/frontend/.env

# Backend ignores
/backend/node_modules/
/backend/.env

# IDE and logs
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
